/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .josefin-sans-db {
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: italic;
  }

  * {
    font-size: 18px;
  }

  li {
    font-weight: 200;
  }

  h1 {
    font-size: 2.5rem;
    font-weight: 200;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.7rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 1.2rem;
  }
  table {
    width: 90%;
    margin: 3rem auto;
    border-collapse: separate;
    border-spacing: 0 1em;
  }
  th {
    font-weight: 900;
  }
  td {
    text-align: left;
  }
  main {
    text-align: center;
  }
  .price {
    min-width: 80px;
  }
  .dot {
    height: 15px;
    width: 15px;
    border-radius: 15px
  }
}

@media print{
  * {
    font-size: 14px;
  }
  .no-print {
    display:none;
  }
  .pagebreak {
    clear: both;
    page-break-after: always;
  }
}